<h1 class="cover-heading">Welcome</h1>
<p class="lead">Click the button below to choose a random date location!</p>
<%= form_tag("venues/randvenue", method: "post") do %>
<%= submit_tag("Random Date Generator") %>
<% end %>

